.container{
    max-width: 1055px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.cat{
    height: 300px;
    width: 250px;
}


.catGrid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px 20px
}

.cat__placeholder{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    position: relative;
}
.cat__image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.cat__status{
    position: absolute;
    top: 14%;
    left: 50%;  
    width: 70%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: hsla(0,0%,100%,.4) ;
    border-radius: 50px;
    padding: 5px 10px 5px 15px;
    font-size: 13px;
    justify-content: space-around;
    align-items: center;
}
.cat__status:after{
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0;
    border-color: hsla(0,0%,100%,.4) transparent transparent;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: ""
}

.lightblue{
    background-color:lightskyblue;
}

.cat__details, .cat__actions{
    display: flex;
    justify-content: space-between;
}